table {
    border-collapse: collapse;
    border: 2px dashed rgb(56, 54, 54);
}

th, td {
    border: rgb(13, 12, 17) solid  2px;
}

body{
    background-color: rgb(255, 255, 255);
}
ol, ul, table {
    font-size: x-large;
    background-color: rgb(229, 237, 241)
}





