* {
    margin: 10px;
    font-family: cursive;
}

table {
    border-collapse: collapse;
    border: 5px solid rgb(67, 66, 78);
    height: 300px;
    width: 1000px;
    margin: 50px 300px;
    font-size: x-large;
    font-weight:bolder;
}

th, td {
    border: rgb(54, 51, 68) solid  5px;
}


.logo {
    width: 170px;
    padding-left: 90%;
    position: fixed;

}

header, footer {
    background-color: rgba(55, 54, 77, 0.973);
    height: 300px;
}

p{
    font-size: 40px;
    padding: 20px;
}

header nav ul li {
    display: inline;
    font-size: 35px;
    padding: 20px;
   
}

header nav ul li a{
    color: black;
    text-decoration: none;
    
}

.icon img{
    width: 50px;
    padding: 10px;
    position: relative;
    left: 80%;
}

footer p{
    text-align: center;
    position: relative;
    top: 100px ;
    left: 100px
}

.put{
    border: 10px ;
    border-radius: 8px;

}

.putsc{
    width: 500px;
    height: 35px;
    border: 10px ;
    border-radius: 10px;
    position: relative;
    top:200px; left: 40%;
    
}


footer form input, textarea{
    border: 30px ;
    border-radius: 8px;
}

form textarea{
    position: relative;
    top: 150px;
      
}
.email{
    position: relative;
    bottom:40px;
    left: 260px;
}
.submit{
    width: 60px;  
}

.ulexp .ulcorse{
    
}



h3{
    font-size: 50px;
    padding: 30px;
}

 ul li{
    list-style-type: square;
}
